<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{oFactura.id}}</td>
        </tr>
        <tr>
            <td>Fecha</td>
            <td>{{oFactura.fecha}}</td>
        </tr>
        <tr>
            <td>IVA</td>
            <td>{{oFactura.iva}}</td>
        </tr>
        <tr>
            <td>Pagado</td>
            <td>{{oFactura.pagado}}</td>
        </tr>
        <tr>
            <td>Paseo</td>
            <td>{{oFactura.paseo.id}} Fecha: {{oFactura.paseo.fecha}} Lugar: {{oFactura.paseo.lugar}} Nombre del Perrito: {{ oFactura.paseo.perro.nombre }}</td>
        </tr>
    </tbody>
  </table>
  