<body class="g-sidenav-show bg-gray-200">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
        data-scroll="true">
        <div class="container-fluid py-1 px-3">

            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                    <ul class="navbar-nav  justify-content-end">
                        <li class="nav-item d-flex align-items-center">
                            <i class="fa fa-user me-sm-1"></i>
                            <span class="d-sm-inline d-none text-capitalize">{{strUsername}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid px-2 px-md-4">
        <div class="page-header min-height-300 border-radius-xl mt-4"
            style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80')">
            <span class="mask  bg-gradient-primary  opacity-6"></span>
        </div>
        <div class="card card-body mx-3 mx-md-4 mt-n6">
            <div class="row gx-4 mb-2">
                <div class="col-auto">
                    <div class="avatar avatar-xl position-relative">
                        <img src="../assets/img/bruce-mars.jpg" alt="profile_image"
                            class="w-100 border-radius-lg shadow-sm">
                    </div>
                </div>

                <div class="col-auto my-auto">
                    <div class="h-100">
                        <h5 class="mb-1 text-capitalize">{{oUsuario.nombre}}</h5>
                        <p class="mb-0 font-weight-normal text-sm">{{oUsuario.apellido1}}</p>
                    </div>
                </div>

                <!-- Botonera Start -->
                <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
                    <div class="nav-wrapper position-relative end-0">
                        <ul class="nav nav-pills nav-fill p-1" role="tablist">
                            <!-- HOME -->
                            <li class="nav-item">
                                <a class="nav-link mb-0 px-0 py-1 active " data-bs-toggle="tab" role="tab" aria-selected="true">
                                    <i class="material-icons text-lg position-relative">home</i>
                                    <span class="ms-1">Home</span>
                                </a>
                            </li>
                            <!-- HOME -->
                            <!-- LOG OUT -->
                            <li class="nav-item">
                                <a class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" (click)="logout()" role="tab"  aria-selected="false">
                                    <i class="fa fa-sign-out text-lg position-relative" ></i>
                                </a>
                            </li>
                            <!-- LOG OUT -->
                        </ul>
                    </div>
                </div>
                <!-- Botonera Ends -->
            </div>
            <div class="row">
                <div class="row">
                    <!-- Mascotas Start -->
                    <div class="col-12 col-xl-4">
                        <div class="card card-plain h-100">
                            <div class="card-header pb-0 p-3">
                                <h6 class="mb-0">Acciones</h6>
                            </div>
                            <div class="card-body p-3">
                                <h6 class="text-uppercase text-body text-xs font-weight-bolder">Mis Mascotas</h6>

                                <app-perro-plist-user-routed [oUsuario]="oUsuario"></app-perro-plist-user-routed>
                                <button type="button" class="btn btn-outline-primary btn-sm mx-2" (click)="openModalNewPerro()">Añadir Mascota</button>
                                <button type="button" class="btn btn-outline-primary btn-sm mx-2" (click)="openModalRemovePerro()">Eliminar Mascota</button>
                            </div>
                        </div>
                    </div>
                    <!-- Mascotas End -->

                    <!-- Usuario Start -->
                    <div class="col-12 col-xl-4">
                        <div class="card card-plain h-100">
                            <div class="card-header pb-0 p-3">
                                <div class="row">
                                    <div class="col-md-8 d-flex align-items-center">
                                        <h6 class="mb-0 text-capitalize">perfil del usuario</h6>
                                    </div>
                                    <div class="col-md-4 text-end">
                                        <i class="fas fa-user-edit text-secondary text-sm" (click)="openModalEditUser()" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar Perfil"></i>
                                    </div>
                                </div>
                            </div>
                            <app-usuario-view-user-routed [oUsuario]="oUsuario"></app-usuario-view-user-routed>
                        </div>
                    </div>
                    <!-- Usuario Ends -->


                    <!-- Paseador / Paseos Start -->
                        <div class="col-12 col-xl-4">
                            <div class="card card-plain h-100">
                                <div class="card-header pb-0 p-3">
                                    <h6 class="mb-0">Paseadores Disponibles</h6>
                                </div>
                            <app-paseador-plist-user-routed> </app-paseador-plist-user-routed>
                        </div>
                    </div>
                </div>
                    <!-- Paseador / Paseos Start -->



                    <!-- Detalle Start -->
                    <div class="col-12 mt-4">
                        <div class="mb-5 ps-3">
                            <h6 class="mb-1">Paseos</h6>
                            <p class="text-sm">Mis últimos paseos</p>
                        </div>
                    </div>
                    <!-- Detalle Ends -->
                </div>
            </div>
        </div>

        <!-- Modales Start -->
        <!-- Modelo Modal -->
        <div class="modal fade" [id]="mimodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{modalContent}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modelo Modal -->

        <!-- Modal newPerro -->
        <div class="modal fade" id="newPerro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <app-perro-new-user-routed [oUsuario]="oUsuario"></app-perro-new-user-routed>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal newPerro -->
        
        <!-- Modal removePerro -->
        <div class="modal fade" id="removePerro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <app-perro-remove-user-routed></app-perro-remove-user-routed>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal removePerro -->

        <!-- Modal editUser -->
        <div class="modal fade" id="editUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <app-usuario-edit-user-routed [oUsuario]="oUsuario"></app-usuario-edit-user-routed>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal editUser -->
</body>