<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{oPerro.id}}</td>
        </tr>
        <tr>
            <td>Nombre</td>
            <td>{{oPerro.nombre}}</td>
        </tr>
        <tr>
            <td>Fecha de Nacimiento</td>
            <td>{{oPerro.fechaNacimiento}}</td>
        </tr>
        <tr>
            <td>Genero</td>
            <td>{{oPerro.genero}}</td>
        </tr>
        <tr>
            <td>Imagen</td>
            <td>{{oPerro.imagen}}</td>
        </tr>
        <tr>
            <td>Peso</td>
            <td>{{oPerro.peso}}</td>
        </tr>
        <tr>
            <td>Sociable</td>
            <td>{{oPerro.sociable}}</td>
        </tr>
        <tr>
            <td>Puede Ir Suelto</td>
            <td>{{oPerro.puedeIrSuelto}}</td>
        </tr>
        <tr>
            <td>es Jugueton</td>
            <td>{{oPerro.esJugueton}}</td>
        </tr>
        <tr>
            <td>Raza</td>
            <td>{{oPerro.raza.nombre}}</td>
        </tr>
        <tr>
            <td>Dueño</td>
            <td>{{oPerro.usuario.nombre}}</td>
        </tr>
    </tbody>
  </table>
  