<p>perro-finder-admin-unrouted works!</p>
<div class="container mt-5">
    <div class="row">
      <div class="col">
        <h1 class="text-center mb-5">Lista de Perros</h1>

        <div class="col-md text-end d-flex justify-content-center align-items-center mb-3">

          <app-search-unrouted [placeHolder]="'Buscar Perro'" (onSearch)="setFilter( $event )"></app-search-unrouted>

          <app-dropdown-register-page
             class="mx-2" [PageSize]="responseFromServer.size" (eeRpp)="this.setRpp($event)">
          </app-dropdown-register-page>

        </div>
        <div class="col-md">
          <app-pagination-unrouted [nPage]="responseFromServer.number + 1" [nTotalPages]="responseFromServer.totalPages"
          (eePage)="setPage($event)"></app-pagination-unrouted>
        </div>
        
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre del Perrito</th>
              <th>Dueño del Perrito</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let perro of responseFromServer.content">
              <td>{{perro.id}}</td>
              <td>{{perro.nombre}}</td>
              <td>{{perro.usuario.nombre}}</td>
              <td>
                <div class="btn-group" role="group" aria-label="Herramientas">
                  <button class="btn btn-sm btn-primary" (click)="selectionPerro(perro.id)">
                    Seleccionar
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
