<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{oPaseo.id}}</td>
        </tr>
        <tr>
            <td>Fecha</td>
            <td>{{oPaseo.fecha}}</td>
        </tr>
        <tr>
            <td>Lugar</td>
            <td>{{oPaseo.lugar}}</td>
        </tr>
        <tr>
            <td>Precio</td>
            <td>{{oPaseo.precio}}</td>
        </tr>
        <tr>
            <td>Tipo Paseo</td>
            <td>{{oPaseo.tipopaseo.id}} -- {{oPaseo.tipopaseo.nombre}}</td>
        </tr>
        <tr>
            <td>Usuario</td>
            <td>{{oPaseo.usuario.id}} -- {{oPaseo.usuario.nombre}}</td>
        </tr>
        <tr>
            <td>Perro y Dueño</td>
        <td>{{oPaseo.perro.id}} -- Nombre del Perrito: {{oPaseo.perro.nombre}}  y Dueño: {{oPaseo.perro.usuario.nombre}}</td>
        </tr>
    </tbody>
  </table>
  