<div class="container mt-5">
    <div class="row">
      <div class="col">
        <h1 class="text-center mb-5">Lista de Paseos</h1>

        <div class="col-md text-end d-flex justify-content-center align-items-center mb-3">

          <app-search-unrouted [placeHolder]="'Buscar Paseo para facturar'" (onSearch)="setFilter( $event )"></app-search-unrouted>

          <app-dropdown-register-page
             class="mx-2" [PageSize]="responseFromServer.size" (eeRpp)="this.setRpp($event)">
          </app-dropdown-register-page>

        </div>
        <div class="col-md">
          <app-pagination-unrouted [nPage]="responseFromServer.number + 1" [nTotalPages]="responseFromServer.totalPages"
          (eePage)="setPage($event)"></app-pagination-unrouted>
        </div>
        
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Fecha</th>
              <th>Lugar</th>
              <th>Precio</th>
              <th>Tipo de Paseo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let paseo of responseFromServer.content">
              <td>{{paseo.id}}</td>
              <td>{{paseo.fecha}}</td>
              <td>{{paseo.lugar}}</td>
              <td>{{paseo.precio}}</td>
              <td>{{paseo.tipopaseo.nombre}}</td>
              <td>
                <div class="btn-group" role="group" aria-label="Herramientas">
                  <button class="btn btn-sm btn-primary" (click)="selectionFactura(paseo.id)">
                    Seleccionar
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
