<table class="table table-responsive table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-sm ">Nombre</th>
            <th class="text-sm text-center">Raza</th>
            <th class="text-sm ">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let perro of responseFromServer.content">
            <td class="align-middle text-center">{{perro.nombre}}</td>
            <td class="align-middle text-center">{{perro.raza.nombre}}</td>
            <td class="align-middle">
                <div class="btn-group" role="group" aria-label="Herramientas">
                    <button class="btn btn-sm btn-primary" (click)="openModalViewPerro(perro.id)">
                        <fa-icon [icon]="faEye"></fa-icon>
                    </button>
                    <button class="btn btn-sm btn-warning" (click)="openModalEditPerro(perro.id)">
                        <fa-icon [icon]="faUserPen"></fa-icon>
                    </button>
                    <button class="btn btn-sm btn-danger" [routerLink]="['/admin/perro/remove', perro.id]">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="container d-flex">
    <app-pagination-unrouted [nPage]="responseFromServer.number + 1" [nTotalPages]="responseFromServer.totalPages"
        (eePage)="setPage($event)"></app-pagination-unrouted>
    <h5 class="text-muted text-sm text-capitalized ms-5">Total perros: {{responseFromServer.totalElements}}</h5>
</div>



<!-- Modal viewPerro -->
<div class="modal fade" id="viewPerro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <app-perro-view-user-routed [id]="id_perro"></app-perro-view-user-routed>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal viewPerro -->


<!-- Modal editPerro -->
<div class="modal fade" id="editPerro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!--   <app-perro-edit-user-routed [id]="id_perro"></app-perro-edit-user-routed> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal editPerro -->


<!-- Modal removePerro -->
<div class="modal fade" id="removePerro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-perro-remove-user-routed></app-perro-remove-user-routed>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal removePerro -->

<div class="modal fade" [id]="mimodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                {{modalContent}}

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>