    <div class="container">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="text-sm" >Nombre</th>
                    <th class="text-sm">Peso</th>
                    <th class="text-sm">Raza</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let perro of responseFromServer.content">
                    <td>{{perro.nombre}}</td>
                    <td>{{perro.peso}} Kg</td>
                    <td>{{perro.raza.nombre}}</td>
                </tr>
                
            </tbody>
        </table>
        <div class="container d-flex">
            <app-pagination-unrouted [nPage]="responseFromServer.number + 1" [nTotalPages]="responseFromServer.totalPages"
            (eePage)="setPage($event)"></app-pagination-unrouted>
            <!-- <h5 class="text-muted text-sm text-capitalized ms-5">Total perros: {{responseFromServer.totalElements}}</h5> -->
        </div>
    </div>