<div class="container mt-5">
    <div class="row">
      <div class="col">
  
        <h1 class="text-center mb-5">Lista de Razas</h1>
  
        <div class="col-md text-end d-flex justify-content-center align-items-center mb-3 ">
          <a [routerLink]="['/../../admin/random/load']" class="btn btn-primary mx-3">Generar Razas</a>
          <a [routerLink]="['/admin/raza/new']" class="btn btn-primary mx-3">Alta de Razas</a>
  
          <app-search-unrouted [placeHolder]="'Buscar usuario'" (onSearch)="setFilter( $event )"></app-search-unrouted>
  
          <app-dropdown-register-page class="mx-2" [PageSize]="responseFromServer.size"
            (eeRpp)="this.setRpp($event)"></app-dropdown-register-page>
        </div>
  
        <div class="col-md">
          <app-pagination-unrouted [nPage]="responseFromServer.number + 1" [nTotalPages]="responseFromServer.totalPages"
            (eePage)="setPage($event)"></app-pagination-unrouted>
        </div>
  
  
  
        <div class="col-md text-end">
          <h5 class="text-muted">Total de registros en la consulta {{responseFromServer.totalElements}}</h5>
        </div>
  
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th (click)="setOrder('id')">ID
                <fa-icon *ngIf="sortField=='id'&&sortDirection=='asc'" [icon]="faArrowUp"></fa-icon>
                <fa-icon *ngIf="sortField=='id'&&sortDirection=='desc'" [icon]="faArrowDown"></fa-icon>
              </th>
              <th (click)="setOrder('nombre')">Nombre
                <fa-icon *ngIf="sortField=='nombre'&&sortDirection=='asc'" [icon]="faArrowUp"></fa-icon>
                <fa-icon *ngIf="sortField=='nombre'&&sortDirection=='desc'" [icon]="faArrowDown"></fa-icon>
              </th>
              <th (click)="setOrder('apellido1')">Tamaño
                <fa-icon *ngIf="sortField=='apellido1'&&sortDirection=='asc'" [icon]="faArrowUp"></fa-icon>
                <fa-icon *ngIf="sortField=='apellido1'&&sortDirection=='desc'" [icon]="faArrowDown"></fa-icon>
              </th>
              <th>Nº de Perros</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let raza of responseFromServer.content">
              <td>{{raza.id}}</td>
              <td>{{raza.nombre}}</td>
              <td>{{raza.tamanyo}}</td>

              <td  *ngIf="raza.perros==0">{{raza.perros}}</td>
              <td *ngIf="raza.perros>0"><a [routerLink]="['/admin', 'raza', 'plist' , 'perro', raza.id]">{{raza.perros}}</a></td>
            
                <td>
                <div class="btn-group" role="group" aria-label="Herramientas">
                  <button class="btn btn-sm btn-primary" [routerLink]="['/admin/raza/view',raza.id]">
                    <fa-icon [icon]="faEye"></fa-icon>
                  </button>
                  <button class="btn btn-sm btn-warning" [routerLink]="['/admin/raza/edit',raza.id]">
                    <fa-icon [icon]="faUserPen"></fa-icon>
                  </button>
                  <button class="btn btn-sm btn-danger" [routerLink]="['/admin/raza/remove',raza.id]">
                    <fa-icon [icon]="faTrash"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>