<div class="container mt-5">
    <div class="row">
      <div class="col">
  
        <h1 class="text-center mb-5">Lista de Facturas</h1>
  
        <div class="col-md text-end d-flex justify-content-center align-items-center mb-3 ">
          <a [routerLink]="['/../../admin/random/load']" class="btn btn-primary mx-3">Generar Facturas</a>
          <a [routerLink]="['/admin/factura/new']" class="btn btn-primary mx-3">Alta de Factura</a>
  
          <app-search-unrouted [placeHolder]="'Buscar factura'" (onSearch)="setFilter( $event )"></app-search-unrouted>
  
          <app-dropdown-register-page class="mx-2" [PageSize]="responseFromServer.size"
            (eeRpp)="this.setRpp($event)"></app-dropdown-register-page>
        </div>
  
        <div class="col-md">
          <app-pagination-unrouted [nPage]="responseFromServer.number + 1" [nTotalPages]="responseFromServer.totalPages"
            (eePage)="setPage($event)"></app-pagination-unrouted>
        </div>
  
  
        <div class="col-md text-start">
          <h5 class="text-muted" *ngIf="strTermFilter!=''">Filtrando por {{strTermFilter}} (borrar para resetear)</h5>
          <button class="btn btn-outline-danger" *ngIf="id_paseoFilter!=0" (click)="setFilterByPaseo(0)">
            <i class="bi bi-x-circle"></i> Reset Paseo {{id_paseoFilter}} filter</button>
        </div>
  
        <div class="col-md text-end">
          <h5 class="text-muted">Total de registros en la consulta {{responseFromServer.totalElements}}</h5>
        </div>
  
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th (click)="setOrder('id')">ID
                <fa-icon *ngIf="sortField=='id'&&sortDirection=='asc'" [icon]="faArrowUp"></fa-icon>
                <fa-icon *ngIf="sortField=='id'&&sortDirection=='desc'" [icon]="faArrowDown"></fa-icon>
              </th>
              <th (click)="setOrder('nombre')">Fecha
                <fa-icon *ngIf="sortField=='nombre'&&sortDirection=='asc'" [icon]="faArrowUp"></fa-icon>
                <fa-icon *ngIf="sortField=='nombre'&&sortDirection=='desc'" [icon]="faArrowDown"></fa-icon>
              </th>
              <th (click)="setOrder('apellido1')">IVA
                <fa-icon *ngIf="sortField=='apellido1'&&sortDirection=='asc'" [icon]="faArrowUp"></fa-icon>
                <fa-icon *ngIf="sortField=='apellido1'&&sortDirection=='desc'" [icon]="faArrowDown"></fa-icon>
              </th>
              <th (click)="setOrder('apellido2')">Pagado
                <fa-icon *ngIf="sortField=='apellido2' &&sortDirection=='asc'" [icon]="faArrowUp"></fa-icon>
                <fa-icon *ngIf="sortField=='apellido2' &&sortDirection=='desc'" [icon]="faArrowDown"></fa-icon>
              </th>
              <th>Paseo</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let factura of responseFromServer.content">
              <td>{{factura.id}}</td>
              <td>{{factura.fecha}}</td>
              <td>{{factura.iva}}</td>
              <td>{{factura.pagado}}</td>

              <td (click)="setFilterByPaseo(factura.paseo.id)">
                ID: {{factura.paseo.id}} DIA: {{factura.paseo.fecha}} / EN: {{factura.paseo.lugar}} / con el PERRITO: {{ factura.paseo.perro.nombre }} / cuyo DUEÑO ES: {{factura.paseo.perro.usuario.nombre}}</td>
              <td>

                <div class="btn-group" role="group" aria-label="Herramientas">
                  <button class="btn btn-sm btn-primary" [routerLink]="['/admin/factura/view',factura.id]">
                    <fa-icon [icon]="faEye"></fa-icon>
                  </button>
                  <button class="btn btn-sm btn-warning" [routerLink]="['/admin/factura/edit',factura.id]">
                    <fa-icon [icon]="faUserPen"></fa-icon>
                  </button>
                  <button class="btn btn-sm btn-danger" [routerLink]="['/admin/factura/remove',factura.id]">
                    <fa-icon [icon]="faTrash"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>