<div class="row">
    <div class="col">
        <h3 class="text-center mb-5">Editar Perro</h3>
         <!-- 
            <form novalidate [formGroup]="oForm" (ngSubmit)="onSubmit()">
       
            <div class="mb-3 row">
                <label for="inputID" class="col-sm-2 col-form-label">ID</label>
                <div class="col-sm-2">
                    <input type="number" class="form-control" value="{{id}}" id="inputID" formControlName="id" readonly>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="inputNombre" class="col-sm-2 col-form-label">Nombre</label>
               
                <div class="col-sm-4 has-validation">
                    <input type="text" class="form-control" [ngClass]="{'is-valid' : oForm.controls.nombre.dirty && !oForm.controls.nombre.errors?.['required'] &&
                         oForm.controls.nombre.dirty && !oForm.controls.nombre.errors?.['minlength'] 
                          && oForm.controls.nombre.dirty && !oForm.controls.nombre.errors?.['maxlength'],
                           'is-invalid' :  oForm.controls.nombre.dirty &&  oForm.controls.nombre.errors?.['minlength'] 
                          ||  oForm.controls.nombre.dirty &&  oForm.controls.nombre.errors?.['maxlength'] ||  
                          oForm.controls.nombre.dirty &&  oForm.controls.nombre.errors?.['required']}" id="inputNombre"
                        formControlName="nombre">
                    <div id="inputNombreFeedback" class="invalid-feedback"
                        *ngIf="oForm.controls.nombre.dirty &&  oForm.controls.nombre.errors?.['minlength']">
                        La longitud mínima es de 5 caracteres.
                    </div>
                    <div id="inputNombreFeedback" class="invalid-feedback"
                        *ngIf="oForm.controls.nombre.dirty &&  oForm.controls.nombre.errors?.['maxlength']">
                        La longitud máxima es de 10 caracteres.
                    </div>
                    <div id="inputNombreFeedback" class="invalid-feedback"
                        *ngIf="oForm.controls.nombre.dirty &&  oForm.controls.nombre.errors?.['required']">
                        El campo es obligatorio.
                    </div>
                </div>
            </div>

            
            <div class="mb-3 row">
                <label for="fechaNacimiento" class="col-sm-2 col-form-label" aria-placeholder="dd-mm-yyyy">Fecha de
                    Nacimiento</label>
                <div class="col-sm-4 has-validation">
                    <input type="date" class="form-control" [ngClass]="{'is-valid' : oForm.controls.fechaNacimiento.dirty && !oForm.controls.fechaNacimiento.errors?.['required'] &&
                         oForm.controls.fechaNacimiento.dirty && !oForm.controls.fechaNacimiento.errors?.['pattern'],
                        'is-invalid' :  oForm.controls.fechaNacimiento.dirty &&  oForm.controls.fechaNacimiento.errors?.['pattern'] ||
                        oForm.controls.fechaNacimiento.dirty &&  oForm.controls.fechaNacimiento.errors?.['required']}"
                        id="inputfechaNacimiento" formControlName="fechaNacimiento" id="inputfechaNacimiento"
                        formControlName="fechaNacimiento">

                    <div id="inputfechaNacimientoFeedback" class="invalid-feedback"
                        *ngIf="oForm.controls.fechaNacimiento.dirty &&  oForm.controls.fechaNacimiento.errors?.['pattern']">
                        Formato de entrada: (dd-MM-yyyy)
                    </div>

                    <div id="inputfechaNacimientoFeedback" class="invalid-feedback"
                        *ngIf="oForm.controls.fechaNacimiento.dirty &&  oForm.controls.fechaNacimiento.errors?.['required']">
                        Required
                    </div>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="inputGenero" class="col-sm-2 col-form-label">Genero</label>
                <div class="col-sm-4 has-validation">
                    <input type="number" class="form-control" [ngClass]="{'is-valid' : oForm.controls.genero.dirty && !oForm.controls.genero.errors?.['required'] &&
                         oForm.controls.genero.dirty && !oForm.controls.genero.errors?.['pattern'],
                        'is-invalid' :  oForm.controls.genero.dirty &&  oForm.controls.genero.errors?.['pattern'] ||
                        oForm.controls.genero.dirty &&  oForm.controls.genero.errors?.['required']}" id="inputGenero"
                        formControlName="genero">

                    <div id="inputgeneroFeedback" class="invalid-feedback"
                        *ngIf="oForm.controls.genero.dirty &&  oForm.controls.genero.errors?.['pattern']">
                        El formato no es adecuado
                    </div>

                    <div id="inputgeneroFeedback" class="invalid-feedback"
                        *ngIf="oForm.controls.genero.dirty &&  oForm.controls.genero.errors?.['required']">
                        El campo es obligatorio.
                    </div>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="inputPeso" class="col-sm-2 col-form-label">Peso</label>
                <div class="col-sm-4 has-validation">
                    <input type="number" class="form-control" [ngClass]="{'is-valid' : oForm.controls.peso.dirty && !oForm.controls.peso.errors?.['required'] &&
                        oForm.controls.peso.dirty && !oForm.controls.peso.errors?.['pattern'],
                         'is-invalid' :  oForm.controls.peso.dirty &&  oForm.controls.peso.errors?.['pattern'] ||
                        oForm.controls.peso.dirty &&  oForm.controls.peso.errors?.['required']}" id="inputGenero"
                        formControlName="genero">

                    <div id="inputgeneroFeedback" class="invalid-feedback"
                        *ngIf="oForm.controls.peso.dirty &&  oForm.controls.peso.errors?.['pattern']">
                        El formato no es adecuado
                    </div>

                    <div id="inputgeneroFeedback" class="invalid-feedback"
                        *ngIf="oForm.controls.peso.dirty &&  oForm.controls.peso.errors?.['required']">
                        El campo es obligatorio.
                    </div>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="inputSociable" class="col-sm-2 col-form-label">Sociable</label>
                <div class="col-sm-4 has-validation">
                    <input type="text" class="form-control" [ngClass]="{'is-valid' : oForm.controls.sociable.dirty && !oForm.controls.sociable.errors?.['required'] &&
                          oForm.controls.sociable.dirty && !oForm.controls.sociable.errors?.['pattern'],
                         'is-invalid' :  oForm.controls.sociable.dirty &&  oForm.controls.sociable.errors?.['pattern'] ||
                        oForm.controls.sociable.dirty &&  oForm.controls.sociable.errors?.['required']}"
                        id="inputSociable" formControlName="sociable">

                    <div id="inputgeneroFeedback" class="invalid-feedback"
                        *ngIf="oForm.controls.sociable.dirty &&  oForm.controls.sociable.errors?.['pattern']">
                        El formato no es adecuado
                    </div>

                    <div id="inputgeneroFeedback" class="invalid-feedback"
                        *ngIf="oForm.controls.sociable.dirty &&  oForm.controls.sociable.errors?.['required']">
                        El campo es obligatorio.
                    </div>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="inputPuedeIrSuelto" class="col-sm-2 col-form-label">Puede ir Suelto</label>
                <div class="col-sm-4 has-validation">
                    <input type="text" class="form-control" [ngClass]="{'is-valid' : oForm.controls.puedeIrSuelto.dirty && !oForm.controls.puedeIrSuelto.errors?.['required'] &&
                        oForm.controls.puedeIrSuelto.dirty && !oForm.controls.puedeIrSuelto.errors?.['pattern'],
                        'is-invalid' :  oForm.controls.puedeIrSuelto.dirty &&  oForm.controls.puedeIrSuelto.errors?.['pattern'] ||
                        oForm.controls.puedeIrSuelto.dirty &&  oForm.controls.puedeIrSuelto.errors?.['required']}"
                        id="inputPuedeIrSuelto" formControlName="puedeIrSuelto">

                    <div id="inputgeneroFeedback" class="invalid-feedback"
                        *ngIf="oForm.controls.puedeIrSuelto.dirty &&  oForm.controls.puedeIrSuelto.errors?.['pattern']">
                        El formato no es adecuado
                    </div>

                    <div id="inputgeneroFeedback" class="invalid-feedback"
                        *ngIf="oForm.controls.puedeIrSuelto.dirty &&  oForm.controls.puedeIrSuelto.errors?.['required']">
                        El campo es obligatorio.
                    </div>
                </div>
            </div>



            <div class="mb-3 row">
                <label for="inputPuedeIrSuelto" class="col-sm-2 col-form-label">Es Juguetón</label>
                <div class="col-sm-4 has-validation">
                    <input type="text" class="form-control" [ngClass]="{'is-valid' : oForm.controls.esJugueton.dirty && !oForm.controls.esJugueton.errors?.['required'] &&
                        oForm.controls.esJugueton.dirty && !oForm.controls.esJugueton.errors?.['pattern'],
                        'is-invalid' :  oForm.controls.esJugueton.dirty &&  oForm.controls.esJugueton.errors?.['pattern'] ||
                        oForm.controls.esJugueton.dirty &&  oForm.controls.esJugueton.errors?.['required']}"
                        id="inputesJugueton" formControlName="esJugueton">

                    <div id="inputgeneroFeedback" class="invalid-feedback"
                        *ngIf="oForm.controls.esJugueton.dirty &&  oForm.controls.esJugueton.errors?.['pattern']">
                        El formato no es adecuado
                    </div>

                    <div id="inputgeneroFeedback" class="invalid-feedback"
                        *ngIf="oForm.controls.esJugueton.dirty &&  oForm.controls.esJugueton.errors?.['required']">
                        El campo es obligatorio.
                    </div>
                </div>
            </div>








            <div class="mb-3 row">
                <label for="inputRaza" class="col-sm-2 col-form-label">Raza</label>
                <div class="col-sm-6 has-validation">
                    <div class="input-group">
                        <span class="input-group-text">{{razaDescription}}</span>

                        <input type="text" class="form-control" formControlName="id_raza"
                            (keyup)="updateRazaDescription(oForm.controls.id_raza.value)" [ngClass]="{'is-valid' :
                             oForm.controls.id_raza.dirty && !oForm.controls.id_raza.errors?.['required'] &&
                             !oForm.controls.id_raza.errors?.['pattern'] && !oForm.controls.id_raza.errors?.['incorrect'],
                               'is-invalid' :  (oForm.controls.id_raza.dirty &&  oForm.controls.id_raza.errors?.['required'] )
                              ||
                             ( oForm.controls.id_raza.dirty &&  oForm.controls.id_raza.errors?.['incorrect'])
                               }">
                        <button type="button" class="btn btn-primary" (click)="openModalFindRaza()">Buscar</button>

                        <div class="text-danger"
                            *ngIf="oForm.controls.id_raza.dirty &&  oForm.controls.id_raza.errors?.['required']">
                            El campo es obligatorio.
                        </div>

                        <div class="text-danger"
                            *ngIf="oForm.controls.id_raza.dirty &&  oForm.controls.id_raza.errors?.['pattern']">
                            El campo ha de ser un entrero entre 1 y cuatro.
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>

</div>






<div class="modal fade" [id]="mimodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                {{modalContent}}

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div> -->