
<div class="container mt-5">
    <div class="row">
      <div class="col">
        <h1 class="text-center mb-5">Lista de Tipos de Paseo</h1>

        <div class="col-md text-end d-flex justify-content-center align-items-center mb-3">
          <app-search-unrouted [placeHolder]="'Buscar Tipo de Paseo'" (onSearch)="setFilter( $event )"></app-search-unrouted>

          <app-dropdown-register-page
             class="mx-2" [PageSize]="responseFromServer.size" (eeRpp)="this.setRpp($event)">
          </app-dropdown-register-page>
        </div>

        <div class="col-md">
          <app-pagination-unrouted [nPage]="responseFromServer.number + 1" [nTotalPages]="responseFromServer.totalPages"
          (eePage)="setPage($event)"></app-pagination-unrouted>
        </div>
        
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tipopaseo of responseFromServer.content">
              <td>{{tipopaseo.id}}</td>
              <td>{{tipopaseo.nombre}}</td>
              <td>
                <div>
                  <button class="btn btn-sm btn-primary" (click)="selectionTipoPaseo(tipopaseo.id)">Seleccionar</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
