<div class="card-body px-0 pb-2">
    <div class="table-responsive p-0">
      <table class="table table-striped align-items-center">
        <tbody>
            <tr>
                <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7">id </th>
                <td>{{oTipoUsuario.id}}</td>
            </tr>
            <tr>
                <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">Nombre</th>
                <td>{{oTipoUsuario.nombre}}</td>
            </tr>
            <tr>
                <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">Usuarios</th>
                <td>{{oTipoUsuario.usuarios}}</td>
            </tr>
        </tbody>
      </table>
    </div>
</div>







